@model ServicesCourse.Models.Service

@{
    ViewData["Title"] = "Создание нового сервиса";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создание нового сервиса</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-2">
                <label asp-for="ServiceName" class="control-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="AboutService" class="control-label"></label>
                <textarea asp-for="AboutService" class="form-control"></textarea>
                <span asp-validation-for="AboutService" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label p-2">
                    <input class="form-check-input" asp-for="ActivityStatus" /> @Html.DisplayNameFor(model => model.ActivityStatus)
                </label>
            </div>
            <div class="form-group p-2">
                <label asp-for="SubsectionId" class="control-label"></label>
                <select asp-for="SubsectionId" class ="form-control" asp-items="ViewBag.SubsectionId"></select>
            </div>
            <div class="form-group p-2">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-decoration-none p-2" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
